@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&family=Roboto+Slab:wght@100;400;600;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid red; */
}

.blogs{
    width: 80%;
    margin: 0px auto;
    /* border: 1px solid blue; */
    height: fit-content;
}
.heading{
    text-align: center;
    padding: 10px;
    margin: 0px auto;
}
.heading h1{
    font-size: 40px;
    color: rgb(21, 21, 209);
}
.heading h4{
    color: #777;
}
.blogs .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    /* border: 1px solid green; */
}
.blogs .card{
    height: 400px;
    width: 300px;
    margin: 30px 15px;
    box-shadow: 2px 10px 2px 2px rgba(68, 68, 212, 0.5);
    /* border: 1px solid green; */
}
.blogs .card img{
    width: inherit;
    height: 200px;
}
.blogs .card .title{
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin: 5px 10px;
}

.blogs .card .title span{
    color: #716e6e;
}

.blogs .card h4{
    margin: 5px 10px;
    color: rgb(8, 8, 205);
    font-size: 18px;
}
.blogs .card p{
    margin: 5px 10px;
    font-size: 14px;
    color: #2c2929;
    line-height: 1.5;
}
.blogs .card a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(46, 46, 234);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    margin: 15px 10px;
}
.blogs .card a:hover{
    background-color: rgb(5, 5, 129);
}

@media(max-width: 980px){
    .blogs .cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 580px) {
    .blogs .cards{
        margin-left: 50px;
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 450px) {
    .blogs .cards{
        margin-left: auto;
    }
}

@media(max-width:300px){
    .blogs .cards{
        margin-left: 10px;
    }
}